{% extends 'blog/base.html' %}

  {% block content %}
    <div class="accordion" id="accordionExample">
      {% for post in posts %}
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#{{ post.id }}" aria-expanded="true" aria-controls="collapseOne">
            Publicado: {{ post.published_date }}
          </button>
        </h2>
        <div id="{{ post.id }}" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <strong>{{ post.title }}</strong> {{ post.text }}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endblock %}
